body {
    width:100%;
    background: #F7FAFC;
    overflow: hidden;
    background: #fff;
}
#canvas {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.container{
    width:780px;
    padding:0 20px;
    height:auto;
    background-color:#fff;
    margin:0 auto;
    box-shadow: 6px 0 10px rgba(0, 0, 0, 0.6),
    -6px 0 10px rgba(0, 0, 0, 0.6);
}
/* header */
.header{
    width:100%;
    padding-top:40px;
}

.header .logo_wrap {
    display: inline-block;
    vertical-align: bottom;
}
.header .navbar{
    display: inline-block;
    vertical-align: bottom;
}


.navbar li{
    width:84px;
    height:26px;
    background-color: #3774B8;
}





.dividing_line{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #5D9ACE;
}

/* common item */
.common_item{
    width:243px;
    margin-right:25px;
    height:auto;
    overflow: hidden;
}
.common_item h3{
    font-size:18px;
    font-style: italic;
    color:#76BA00;
}

.common_item .detail_wrap{
    display:block;
    width: 100%;
    height:auto;
}
.detail_wrap img{
    width: 100%;
    height:auto;
}
.detail_wrap .text_wrap{
    width: 100%;
    height: auto;
    font-size: 0;
    margin:8px 0;
}
.text_wrap p:first-child{
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
    color:#3774B8;
    font-family: 'allerregular','Calibri','Arial','Helvetica','sans-serif';
    line-height:20px;
    width:90%;
    margin-right:4px;
}
.text_wrap p:last-child{
    display: inline-block;
    vertical-align: bottom;
    background:url('../images/arrow.png') no-repeat center center;
    width:20px;
    height:26px;
}

.litte_dividing_line{
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background: #5D9ACE;
}
/* end */

.content_item{
    width:100%;
    height:auto;
    font-size:0;
}
.content_item .common_item {
    display: inline-block;
    vertical-align: top;
}
.content_item .common_item:last-child{
    margin:0;
}

/* footer */
.footer{
    width:740px;
    height:190px;
    margin:0 auto;
    background:#3774b8;
    font-size:0;
    padding:20px;
}
.footer ul{
    display: inline-block;
    width:245px;
    height:190px;
    border-right:1px solid #fff;
    background:red;
}
.footer ul:last-child {
    border-right:none;
}