<!DOCTYPE html>
<html lang="en">
    <head>
        ${require('../component/head.html')}
        <link rel="stylesheet" href=".././static/css/aboutUs.css">
    </head>

<body>
    <canvas id = "canvas"></canvas>
    <div class="container">
        
        ${require('../component/header.html')}

        <div class="content_img">
            <div class="banner">
                <img src="../images/home.jpg" alt="">
                <p>
                    Raising <br>your profile <br>& building value
                </p>
            </div>
            <div>
                <div class="pureText_with_title">
                    <h3>About Us</h3>
                    <p>
                        Zyme Communications provides
                        PR and marketing services for the life science
                        sector. We support companies to raise their profile, build corporate value and generate interest from commercial leads, investors and partners.
                    </p>
                    <p>
                        Zyme Communications provides
                        PR and marketing services for the life science
                        sector. We support companies to raise their profile, build corporate value
                        and generate interest from commercial leads, investors and partners.
                    </p>
                    <ul class="list_with_circle">
                       <li><p>Real value from objective-led communications</p></li>
                       <li><p>Flexibility to suit your strategy and budget</p></li>
                       <li><p>An experienced senior team, specialists in life science PR and marketing</p></li>
                    </ul>
                    <a class="link_with_arrow" href="/teams">
                        <span>Learn more about the team at Zyme </span>
                        <img src="../images/arrow1.png" alt="">
                    </a>
                    <a class="link_with_arrow" href="/news">
                        <span>Read the latest news at Zyme </span>
                        <img src="../images/arrow1.png" alt="">
                    </a>
                    <a class="link_with_arrow" href="/events">
                        <span>Meet us at events where Zyme is providing client support </span>
                        <img src="../images/arrow1.png" alt="">
                    </a>
                </div>
                <div class="common_item">
                    ${require("../component/lastTweets.html")}
                    <!--  -->
                    ${require("../component/keepInTouch.html")}
                    <!-- <div class="litte_dividing_line"></div> -->
                </div>
            </div>
        </div>
        <div class="dividing_line"></div>
        
        ${require('../component/footer.html')}

    </div>
</body>
</html>