<!DOCTYPE html>
<html lang="en">

    <head>
        ${require('../component/head.html')}
        <link rel="stylesheet" href=".././static/css/careers.css">
    </head>


<body>
    <canvas id="canvas"></canvas>
    <div class="container">

        ${require('../component/header.html')}

        <div class="content_careers">
            <div class="careers_wrap">
                <h3>Careers</h3>
                <ul class="careers">
                    <!-- <li>
                        <h3>Lorna Cuddon, Managing Director</h3>
                        <p>
                            <span>
                                As PR and Marketing Executive, you will be providing support across Zyme clients. You will be part of the Zyme Communications team, headed by Lorna Cuddon, Managing Director. You will support the senior team, working on existing clients by undertaking tasks assigned to you, as well as new business.
                            </span>
                            <a href="">To find out more about this vacancy click here</a>
                        </p>
                    </li>
                    <li>
                        <h3>Lorna Cuddon, Managing Director</h3>
                        <p>
                            <span>
                                As PR and Marketing Executive, you will be providing support across Zyme clients. You
                                will be part of the Zyme Communications team, headed by Lorna Cuddon, Managing Director.
                                You will support the senior team, working on existing clients by undertaking tasks
                                assigned to you, as well as new business.
                            </span>
                            <a href="">To find out more about this vacancy click here</a>
                        </p>
                    </li>
                    <li>
                        <h3>Lorna Cuddon, Managing Director</h3>
                        <p>
                            <span>
                                As PR and Marketing Executive, you will be providing support across Zyme clients. You
                                will be part of the Zyme Communications team, headed by Lorna Cuddon, Managing Director.
                                You will support the senior team, working on existing clients by undertaking tasks
                                assigned to you, as well as new business.
                            </span>
                            <a href="">To find out more about this vacancy click here</a>
                        </p>
                    </li>
                    <li>
                        <h3>Lorna Cuddon, Managing Director</h3>
                        <p>
                            <span>
                                As PR and Marketing Executive, you will be providing support across Zyme clients. You
                                will be part of the Zyme Communications team, headed by Lorna Cuddon, Managing Director.
                                You will support the senior team, working on existing clients by undertaking tasks
                                assigned to you, as well as new business.
                            </span>
                            <a href="">To find out more about this vacancy click here</a>
                        </p>
                    </li>
                    <li>
                        <h3>Lorna Cuddon, Managing Director</h3>
                        <p>
                            <span>
                                As PR and Marketing Executive, you will be providing support across Zyme clients. You
                                will be part of the Zyme Communications team, headed by Lorna Cuddon, Managing Director.
                                You will support the senior team, working on existing clients by undertaking tasks
                                assigned to you, as well as new business.
                            </span>
                            <a href="">To find out more about this vacancy click here</a>
                        </p>
                    </li> -->
                </ul>
            </div>

            <div class="common_item">
                ${require("../component/lastTweets.html")}
                <!--  -->
                ${require("../component/keepInTouch.html")}
                <!-- <div class="litte_dividing_line"></div> -->
            </div>
        </div>


        <div class="dividing_line"></div>

        ${require('../component/footer.html')}

    </div>
</body>

</html>