<!DOCTYPE html>
<html lang="en">

    <head>
        ${require('../component/head.html')}
        <link rel="stylesheet" href=".././static/css/caseStudies.css">
    </head>

<body>
    <canvas id="canvas"></canvas>
    <div class="container">

        ${require('../component/header.html')}

        <div class="content_case">
            <div class="case_wrap">
                <h3>Case Studies</h3>
                <p class="case_title">Recent examples of our work include the following:</p>
                <ul class="case">
                    <li>
                        <h3>Owlstone Medical</h3>
                        <p>              
                            <a class="img_wrap" href="">
                                <img src="../images/case.png" alt="">
                            </a>
                            <span>
                                Strategic PR programme, to support Owlstone Medical with the establishment of the spin-out as a standalone company, and
                                raise awareness with new investors, customers and potential partners in industry and academia. The program also needed
                                to evidence breath analysis as a proven diagnostic test, positioning Owlstone as the leader in the field. 
                            </span>
                            <span class="space"></span>
                            <span>
                                Client comments: “Zyme has provided us with strategic guidance and a very proactive approach in developing our PR and
                                communications programme. Zyme’s industry knowledge and network of media contacts has created opportunities for us to
                                build our profile and establish breath as a new diagnostic modality. We have been very impressed by the breadth and
                                quality of media coverage achieved on a regular basis, in key trade publications and global business press.” Founder and
                                CEO, Owlstone Medical. 
                            </span>
                            <a class="link_with_arrow" href="">
                                <span>Read our full case studies here </span>
                                <img src="../images/arrow1.png" alt="">
                            </a>
                        </p>
                    </li>
                    <li>
                        <h3>Owlstone Medical</h3>
                        <p>
                            <a class="img_wrap" href="">
                                <img src="../images/case.png" alt="">
                            </a>
                            <span>
                                Strategic PR programme, to support Owlstone Medical with the establishment of the
                                spin-out as a standalone company, and
                                raise awareness with new investors, customers and potential partners in industry and
                                academia. The program also needed
                                to evidence breath analysis as a proven diagnostic test, positioning Owlstone as the
                                leader in the field.
                            </span>
                            <span class="space"></span>
                            <span>
                                Client comments: “Zyme has provided us with strategic guidance and a very proactive
                                approach in developing our PR and
                                communications programme. Zyme’s industry knowledge and network of media contacts has
                                created opportunities for us to
                                build our profile and establish breath as a new diagnostic modality. We have been very
                                impressed by the breadth and
                                quality of media coverage achieved on a regular basis, in key trade publications and
                                global business press.” Founder and
                                CEO, Owlstone Medical.
                            </span>
                            <a class="link_with_arrow" href="">
                                <span>Read our full case studies here </span>
                                <img src="../images/arrow1.png" alt="">
                            </a>
                        </p>
                    </li>
                    <li>
                        <h3>Owlstone Medical</h3>
                        <p>
                            <a class="img_wrap" href="">
                                <img src="../images/case.png" alt="">
                            </a>
                            <span>
                                Strategic PR programme, to support Owlstone Medical with the establishment of the
                                spin-out as a standalone company, and
                                raise awareness with new investors, customers and potential partners in industry and
                                academia. The program also needed
                                to evidence breath analysis as a proven diagnostic test, positioning Owlstone as the
                                leader in the field.
                            </span>
                            <span class="space"></span>
                            <span>
                                Client comments: “Zyme has provided us with strategic guidance and a very proactive
                                approach in developing our PR and
                                communications programme. Zyme’s industry knowledge and network of media contacts has
                                created opportunities for us to
                                build our profile and establish breath as a new diagnostic modality. We have been very
                                impressed by the breadth and
                                quality of media coverage achieved on a regular basis, in key trade publications and
                                global business press.” Founder and
                                CEO, Owlstone Medical.
                            </span>
                            <a class="link_with_arrow" href="">
                                <span>Read our full case studies here </span>
                                <img src="../images/arrow1.png" alt="">
                            </a>
                        </p>
                    </li>
                </ul>
            </div>

            <div class="common_item">
                ${require("../component/lastTweets.html")}
                <!--  -->
                ${require("../component/keepInTouch.html")}
                <!-- <div class="litte_dividing_line"></div> -->
            </div>
        </div>


        <div class="dividing_line"></div>

        ${require('../component/footer.html')}

    </div>
</body>

</html>