<!DOCTYPE html>
<html lang="en">

        <head>
        ${require('../component/head.html')}
        <link rel="stylesheet" href=".././static/css/contact.css">
    </head>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6X7j8end2uHUTXKdHO2J4kaAJu8IK1Wg&callback=initMap" type="text/javascript"></script>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = { lat: 52.210304, lng: 0.089864};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 14, center: uluru });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: uluru, map: map });
        }
    </script>

<body>
    <canvas id = "canvas"></canvas>
    <div class="container">

        ${require('../component/header.html')}

        <div class="contact_wrap">
            <div class="map_wrap">
                <h3>Contact</h3>
                <div id="map"></div>
                <p class="address">
                    Jianfeng Consulting Limited<br>
                    Cambridge Office:<br>
                    The Hauser Forum <br>
                    3 Charles Babbage Road <br>
                    Cambridge <br>
                    CB23 0GT, UK
                </p>
                <p class="address">
                    Tel: + 447738270979<br>
                    Email: Info@jianfengconsulting.com<br>
                    Email: janezhuang@hotmail.com
                </p>
            </div>
            <div class="common_item">
                ${require("../component/lastTweets.html")}
                <!--  -->
                ${require("../component/keepInTouch.html")}
                <!-- <div class="litte_dividing_line"></div> -->
            </div>
        </div>
        <div class="dividing_line"></div>

        ${require('../component/footer.html')}

    </div>
</body>
</html>