
<!DOCTYPE html>
<html lang="en">
    <head>
        ${require('../component/head.html')}
        <link rel="stylesheet" href=".././static/css/experience.css">
    </head>
<body>
    <canvas id = "canvas"></canvas>
    <div class="container">
        ${require('../component/header.html')}
        <div class="grid_wrap">
            <h3>Experience</h3>
            <a class="link_with_arrow" href="">
                <span>Read our full case studies here </span>
                <img src="../images/arrow1.png" alt="">
            </a>
            <ul class="grid">
                <li>
                    <a href="">
                        <img src="../images/exp.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../images/exp.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../images/exp.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../images/exp.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../images/exp.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../images/exp.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../images/exp.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../images/exp.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../images/exp.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../images/exp.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../images/exp.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../images/exp.jpg" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="dividing_line"></div>
        ${require('../component/footer.html')}
    </div>
</body>
</html>