<!DOCTYPE html>
<html lang="en">
    <head>
        ${require('../component/head.html')}
        <link rel="stylesheet" href=".././static/css/home.css">
        <script src=".././homeJs.js"></script>
    </head>
<body>
    <canvas id = "canvas"></canvas>
    <div class="container">
        ${require('../component/header.html')}
        <div class="content_img">
            <div class="banner">
                <img src="../images/home.jpg" alt="">
                <p>
                    A realistic approach to PR & marketing tailor made for high technology sectors
                </p>
            </div>
            <div>
                <div class="pureText">
                    <p>
                        Jianfeng Consulting Limited is a business communications company located at IdeaSpace West of Cambridge University for
                        high-tech companies.  Especially, Jianfeng Consulting Limited provides professional communication services such as PR
                        and marketing in relation to Chinese markets. We support companies to raise their porfile, build corporate value and
                        generate interest from commercial leads, investors and partners.  
                    </p>
                </div>
                <div class="common_item">
                    <h3>Our Clients</h3>
                    <div class="litte_dividing_line"></div>
                    <div class="detail_wrap carousel">
                        <div>
                            <a href="https://www.zinergy-power.com/applications/">
                                <img src="../images/zinergy_logo.png" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="http://www.zifisense.co.uk/index.html">
                                <img src="../images/zifisense_logo.png" alt="">
                            </a>
                        </div>
                        <div>
                            <a href="http://www.energywell.com.tw/">
                                <img src="../images/energywell_logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="dividing_line"></div>
        <div class="content_text">
            <div class="common_item">
                <h3>People</h3>
                <div class="litte_dividing_line"></div>
                <a href="javascript:void(0)" class="detail_wrap">
                    <!-- <img src="../images/test.jpg" alt=""> -->
                    <div class="text_wrap">
                        <p>
                            our experienced team of specialists with expertise gained from first-hand industrial experiences in China and worldwide
                            across various high technology fields, is offering achievable solutions to support both start ups and company business
                            developments in relation to Chinese markets particularly.
                        </p>
                        <p class = "arrow"></p>
                    </div>                    
                </a>
                <div class="litte_dividing_line"></div>
            </div>
            <div class="common_item">
                <!--  -->
                ${require('../component/keepInTouch.html')}
                <!--  -->
                <h3>Upcoming Events</h3>
                <div class="litte_dividing_line"></div>
                <div class="detail_wrap upComingEvents">
                    <div class="text_wrap">
                        <p>
                            <span class="events_meeting_wrap">
                                Jianfeng Consulting will be providing support for its clients attending the following
                                event:
                            </span>
                            <span class="events_meeting_wrap">
                                <span class="meeting_name">Soft Power with Nanomaterials in Soft AIoT </span>
                                <span class="meeting_date">Sun 10/6 9:30-11:30</span>
                                <!-- <span class="meeting_addr">Soft AIoT</span> -->
                            </span>
                        </p>
                        <p class="arrow"></p>
                    </div>
                </div>
                <div class="litte_dividing_line"></div>
            </div>
            <div class="common_item">
                ${require('../component/lastTweets.html')}
            </div>     
        </div>
        <div class="dividing_line"></div>

        ${require('../component/footer.html')}

    </div>
</body>
</html>