<!DOCTYPE html>
<html lang="en">
    <head>
        ${require('../component/head.html')}
        <link rel="stylesheet" href=".././static/css/news.css">
    </head>

<body>
    <canvas id = "canvas"></canvas>
    <div class="container">

        ${require('../component/header.html')}
        <div class="content_news">
            <div class="news_wrap">
               <h3>News from Zyme and the companies we work with.</h3>
               <ul class="news">
                   <li>
                        <p class="date">May 28, 19</p>
                        <h2 class="news_title">
                            <a href="/newsDetail">
                                Expedeon AG adds CaptSure DIY ELISA to immunoassay technology product range
                            </a>
                        </h2>
                        <p class="news_summary">
                            Addressing a billion-dollar market with innovative technologies which remove bottlenecks inresearch and discovery Heidelberg, Germany and Cambridge, UK, 28 May 2019 – CaptSure™ DIYELISA will complement Expedeon AG’s product offering, as the Company (Frankfurt: EXN; ISIN:DE000A1RFM03; Prime …
                            <a href="/newsDetail">Continue reading →</a>
                        </p>
                   </li>
                   <li>
                       <p class="date">May 28, 19</p>
                       <h2 class="news_title">
                           <a href="/newsDetail">
                               Expedeon AG adds CaptSure DIY ELISA to immunoassay technology product range
                           </a>
                       </h2>
                       <p class="news_summary">
                           Addressing a billion-dollar market with innovative technologies which remove bottlenecks
                           inresearch and discovery Heidelberg, Germany and Cambridge, UK, 28 May 2019 – CaptSure™
                           DIYELISA will complement Expedeon AG’s product offering, as the Company (Frankfurt: EXN;
                           ISIN:DE000A1RFM03; Prime …
                           <a href="/newsDetail">Continue reading →</a>
                       </p>
                   </li>
                   <li>
                       <p class="date">May 28, 19</p>
                       <h2 class="news_title">
                           <a href="/newsDetail">
                               Expedeon AG adds CaptSure DIY ELISA to immunoassay technology product range
                           </a>
                       </h2>
                       <p class="news_summary">
                           Addressing a billion-dollar market with innovative technologies which remove bottlenecks
                           inresearch and discovery Heidelberg, Germany and Cambridge, UK, 28 May 2019 – CaptSure™
                           DIYELISA will complement Expedeon AG’s product offering, as the Company (Frankfurt: EXN;
                           ISIN:DE000A1RFM03; Prime …
                           <a href="/newsDetail">Continue reading →</a>
                       </p>
                   </li>
                   <li>
                       <p class="date">May 28, 19</p>
                       <h2 class="news_title">
                           <a href="/newsDetail">
                               Expedeon AG adds CaptSure DIY ELISA to immunoassay technology product range
                           </a>
                       </h2>
                       <p class="news_summary">
                           Addressing a billion-dollar market with innovative technologies which remove bottlenecks
                           inresearch and discovery Heidelberg, Germany and Cambridge, UK, 28 May 2019 – CaptSure™
                           DIYELISA will complement Expedeon AG’s product offering, as the Company (Frankfurt: EXN;
                           ISIN:DE000A1RFM03; Prime …
                           <a href="/newsDetail">Continue reading →</a>
                       </p>
                   </li>
                   <li>
                       <p class="date">May 28, 19</p>
                       <h2 class="news_title">
                           <a href="/newsDetail">
                               Expedeon AG adds CaptSure DIY ELISA to immunoassay technology product range
                           </a>
                       </h2>
                       <p class="news_summary">
                           Addressing a billion-dollar market with innovative technologies which remove bottlenecks
                           inresearch and discovery Heidelberg, Germany and Cambridge, UK, 28 May 2019 – CaptSure™
                           DIYELISA will complement Expedeon AG’s product offering, as the Company (Frankfurt: EXN;
                           ISIN:DE000A1RFM03; Prime …
                           <a href="/newsDetail">Continue reading →</a>
                       </p>
                   </li>
               </ul>
            </div>
                
            <div class="common_item">
                ${require("../component/lastTweets.html")}
                <!--  -->
                ${require("../component/keepInTouch.html")}
                <!-- <div class="litte_dividing_line"></div> -->
            </div>
        </div>


        <div class="dividing_line"></div>

        ${require('../component/footer.html')}
    </div>
</body>
</html>