<!DOCTYPE html>
<html lang="en">
    <head>
        ${require('../component/head.html')}
        <link rel="stylesheet" href=".././static/css/news.css">
    </head>

<body>
    <canvas id = "canvas"></canvas>
    <div class="container">

        ${require('../component/header.html')}
        <div class="content_newsDetail">
            <div class="newsDetail_wrap">
               <h3></h3>
               <div class="newsDetail">
                    <h2 class="detail_title">
                        Avacta Group plc TMAC programme accelerates: clinical trial planned for early 2020
                    </h2>
                    <p class="post_time">Posted on June 3, 19 by zymecom</p>
                    <p class="detail_content">
                        Cambridge, UK, 03 June 2019: Avacta Group plc (AIM: AVCT), the developer of Affimer®
                        biotherapeutics and research reagents, announces that it is planning to submit an IND/CTA
                        application early in 2020 to test the TMAC™ linker in a phase I study in patients with selected
                        solid tumours.
                    </p>
                    <p class="detail_content">
                        In an acceleration of the TMAC programme, Avacta is now in a position to test this critical TMAC
                        linker in humans, a major de-risking milestone for the programme, early in 2020 and well ahead
                        of its original plans.
                    </p>
                    <p class="detail_content">
                        Avacta’s tumour microenvironment activated drug conjugates (TMAC) are a ground-breaking new form
                        of cancer immunotherapy, co-invented with Tufts University Medical School, combining Affimers
                        with chemotherapies in a single drug, using a linker that is designed to only release the
                        chemotherapy in the tumour microenvironment. This allows extremely potent chemotherapies, too
                        potent to be given to patients systemically, to be combined with Affimer immune-checkpoint
                        therapies.
                    </p>
                    <p class="detail_content">
                        Cambridge, UK, 03 June 2019: Avacta Group plc (AIM: AVCT), the developer of Affimer®
                        biotherapeutics and research reagents, announces that it is planning to submit an IND/CTA
                        application early in 2020 to test the TMAC™ linker in a phase I study in patients with selected
                        solid tumours.
                    </p>
                    <p class="detail_content">
                        In an acceleration of the TMAC programme, Avacta is now in a position to test this critical TMAC
                        linker in humans, a major de-risking milestone for the programme, early in 2020 and well ahead
                        of its original plans.
                    </p>
                    <p class="detail_content">
                        Avacta’s tumour microenvironment activated drug conjugates (TMAC) are a ground-breaking new form
                        of cancer immunotherapy, co-invented with Tufts University Medical School, combining Affimers
                        with chemotherapies in a single drug, using a linker that is designed to only release the
                        chemotherapy in the tumour microenvironment. This allows extremely potent chemotherapies, too
                        potent to be given to patients systemically, to be combined with Affimer immune-checkpoint
                        therapies.
                    </p>
                    <p class="detail_content">
                        In an acceleration of the TMAC programme, Avacta is now in a position to
                        test this critical TMAC
                        linker in humans, a major de-risking milestone for the programme, early in
                        2020 and well ahead
                        of its original plans.
                    </p>
                    <p class="detail_content">
                        Avacta’s tumour microenvironment activated drug conjugates (TMAC) are a
                        ground-breaking new form
                        of cancer immunotherapy, co-invented with Tufts University Medical School,
                        combining Affimers
                        with chemotherapies in a single drug, using a linker that is designed to
                        only release the
                        chemotherapy in the tumour microenvironment. This allows extremely potent
                        chemotherapies, too
                        potent to be given to patients systemically, to be combined with Affimer
                        immune-checkpoint
                        therapies.
                    </p>
                    <div class="litte_dividing_line"></div>
                    <div class="page_wrap">
                        <a href="">
                            ← Mologic achieves breakthrough in ultra-sensitive point-of-care diagnostics and develops
                            new platform technology
                        </a>
                        <a href="">
                            TTP plc collaborates with Quotient Ltd to transform transfusion diagnostics and beyond →
                        </a>
                    </div>
               </div>
            </div>
                
            <div class="common_item">
                ${require("../component/lastTweets.html")}
                <!--  -->
                ${require("../component/keepInTouch.html")}
                <!-- <div class="litte_dividing_line"></div> -->
            </div>
        </div>


        <div class="dividing_line"></div>

        ${require('../component/footer.html')}
    </div>
</body>
</html>