<!DOCTYPE html>
<html lang="en">

    <head>
        ${require('../component/head.html')}
        <link rel="stylesheet" href=".././static/css/teams.css">
    </head>

<body>
    <canvas id="canvas"></canvas>
    <div class="container">

        ${require('../component/header.html')}

        <div class="content_teams">
            <div class="teams_wrap">
                <h3>Events</h3>
                <ul class="teams">
                    <li>
                        <h3>Lorna Cuddon, Managing Director</h3>
                        <p>
                            <img src="../images/pic.jpg" alt="">
                            <span>
                                Lorna founded Zyme Communications in July 2010, and has grown the business into a successfulagency with offices in Cambridge and Manchester in the UK, providing strategic andspecialist advice to over 50 life science organisations across Europe and the US.
                            </span>
                            <span class="space"></span>
                            <span>
                                With 20 years’ experience in PR and marketing in the life science sector, Lorna was previously Associate Partner at international communications agency College Hill Life Sciences (now Instinctif Partners), where she was responsible for the company’s largest portfolio of clients. She also gained in-house experience as Marketing Manager at NextGen Sciences and Consultant at Sagentia (formerly Scientific Generics) and TTP Plc. 
                            </span>
                            <span class="space"></span>
                            <span>
                                Lorna has a degree in Natural Sciences, majoring in Biology and Biochemistry and is an Associate member of the Chartered Institute of Marketing.
                            </span>
                        </p>
                    </li>
                    <li>
                        <h3>Lorna Cuddon, Managing Director</h3>
                        <p>
                            <img src="../images/pic.jpg" alt="">
                            <span>
                                Lorna founded Zyme Communications in July 2010, and has grown the business into a
                                successfulagency with offices in Cambridge and Manchester in the UK, providing strategic
                                andspecialist advice to over 50 life science organisations across Europe and the US.
                            </span>
                            <span class="space"></span>
                            <span>
                                With 20 years’ experience in PR and marketing in the life science sector, Lorna was
                                previously Associate Partner at international communications agency College Hill Life
                                Sciences (now Instinctif Partners), where she was responsible for the company’s largest
                                portfolio of clients. She also gained in-house experience as Marketing Manager at
                                NextGen Sciences and Consultant at Sagentia (formerly Scientific Generics) and TTP Plc.
                            </span>
                            <span class="space"></span>
                            <span>
                                Lorna has a degree in Natural Sciences, majoring in Biology and Biochemistry and is an
                                Associate member of the Chartered Institute of Marketing.
                            </span>
                        </p>
                    </li>
                    <li>
                        <h3>Lorna Cuddon, Managing Director</h3>
                        <p>
                            <img src="../images/pic.jpg" alt="">
                            <span>
                                Lorna founded Zyme Communications in July 2010, and has grown the business into a
                                successfulagency with offices in Cambridge and Manchester in the UK, providing strategic
                                andspecialist advice to over 50 life science organisations across Europe and the US.
                            </span>
                            <span class="space"></span>
                            <span>
                                With 20 years’ experience in PR and marketing in the life science sector, Lorna was
                                previously Associate Partner at international communications agency College Hill Life
                                Sciences (now Instinctif Partners), where she was responsible for the company’s largest
                                portfolio of clients. She also gained in-house experience as Marketing Manager at
                                NextGen Sciences and Consultant at Sagentia (formerly Scientific Generics) and TTP Plc.
                            </span>
                            <span class="space"></span>
                            <span>
                                Lorna has a degree in Natural Sciences, majoring in Biology and Biochemistry and is an
                                Associate member of the Chartered Institute of Marketing.
                            </span>
                        </p>
                    </li>
                    <li>
                        <h3>Lorna Cuddon, Managing Director</h3>
                        <p>
                            <img src="../images/pic.jpg" alt="">
                            <span>
                                Lorna founded Zyme Communications in July 2010, and has grown the business into a
                                successfulagency with offices in Cambridge and Manchester in the UK, providing strategic
                                andspecialist advice to over 50 life science organisations across Europe and the US.
                            </span>
                            <span class="space"></span>
                            <span>
                                With 20 years’ experience in PR and marketing in the life science sector, Lorna was
                                previously Associate Partner at international communications agency College Hill Life
                                Sciences (now Instinctif Partners), where she was responsible for the company’s largest
                                portfolio of clients. She also gained in-house experience as Marketing Manager at
                                NextGen Sciences and Consultant at Sagentia (formerly Scientific Generics) and TTP Plc.
                            </span>
                            <span class="space"></span>
                            <span>
                                Lorna has a degree in Natural Sciences, majoring in Biology and Biochemistry and is an
                                Associate member of the Chartered Institute of Marketing.
                            </span>
                        </p>
                    </li>
                    <li>
                        <h3>Lorna Cuddon, Managing Director</h3>
                        <p>
                            <img src="../images/pic.jpg" alt="">
                            <span>
                                Lorna founded Zyme Communications in July 2010, and has grown the business into a
                                successfulagency with offices in Cambridge and Manchester in the UK, providing strategic
                                andspecialist advice to over 50 life science organisations across Europe and the US.
                            </span>
                            <span class="space"></span>
                            <span>
                                With 20 years’ experience in PR and marketing in the life science sector, Lorna was
                                previously Associate Partner at international communications agency College Hill Life
                                Sciences (now Instinctif Partners), where she was responsible for the company’s largest
                                portfolio of clients. She also gained in-house experience as Marketing Manager at
                                NextGen Sciences and Consultant at Sagentia (formerly Scientific Generics) and TTP Plc.
                            </span>
                            <span class="space"></span>
                            <span>
                                Lorna has a degree in Natural Sciences, majoring in Biology and Biochemistry and is an
                                Associate member of the Chartered Institute of Marketing.
                            </span>
                        </p>
                    </li>
                </ul>
            </div>

            <div class="common_item">
                ${require("../component/lastTweets.html")}
                <!--  -->
                ${require("../component/keepInTouch.html")}
                <!-- <div class="litte_dividing_line"></div> -->
            </div>
        </div>


        <div class="dividing_line"></div>

        ${require('../component/footer.html')}

    </div>
</body>

</html>