<div class="header">
    <a class="logo_wrap" href="/home">
        <img src="../images/logo.jpg" alt="">
    </a>
    <ul class="navbar">
        <li class="active">
            <a href="/home">Home</a>
        </li>
        <li class="pop_01">
            <span><a href="/aboutUs">About Us</a></span>
            <ul class="pop_list pop_list_01">
                <li><a href="/news">News</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/teams">Teams</a></li>
                <li><a href="/careers">Careers</a></li>
            </ul>
        </li>
        <li>
            <a href="/services">Services</a>
        </li>
        <li class="pop_02">
            <span><a href="/experience">Experience</a></span>
            <ul class="pop_list pop_list_02">
                <li><a href="/caseStudies">Case Studies</a></li>
            </ul>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</div>