<h3>Keep in touch</h3>
<div class="litte_dividing_line"></div>
<div href="" class="detail_wrap">
    <ul class="touch">
        <li>
            <img src="../images/icon-tel.png" alt="">
            <span> + 447738270979</span>
        </li>
        <li>
            <img src="../images/icon-mail.png" alt="">
            <span>
                <a href="mailto:Info@jianfengconsulting.com">
                    Info@jianfengconsulting.com
                </a>
            </span>
        </li>
        <li>
            <img src="../images/icon-mail.png" alt="">
            <span>
                <a href="mailto:janezhuang@hotmail.com">
                    janezhuang@hotmail.com
                </a>
            </span>
        </li>
    </ul>
    <div class="litte_dividing_line"></div>
    <div class="icon_wrap">
       <a href=""><img src="../images/icon-twitter.png" alt=""></a>
       <a href=""><img src="../images/icon-linkedin.png" alt=""></a>
       <a href=""><img src="../images/icon-rss.png" alt=""></a>
    </div>
</div>