<div class="content_events">
    <div class="events_wrap">
        <h3>Events</h3>
        <p class="event_header">
            Zyme Communications will be providing support for its clients attending the following events:
        </p>
        <ul class="events">
            <li>
                <h2 class="meeting_name">2019 ASCO Annual Meeting</h2>
                <p class="meeting_date">Fri May 31 09:00 - Tue June 4 18:00</p>
                <p class="meeting_addr">Chicago, USA</p>
                <a href="">More information...</a>
            </li>
            <li>
                <h2 class="meeting_name">2019 ASCO Annual Meeting</h2>
                <p class="meeting_date">Fri May 31 09:00 - Tue June 4 18:00</p>
                <p class="meeting_addr">Chicago, USA</p>
                <a href="">More information...</a>
            </li>
            <li>
                <h2 class="meeting_name">2019 ASCO Annual Meeting</h2>
                <p class="meeting_date">Fri May 31 09:00 - Tue June 4 18:00</p>
                <p class="meeting_addr">Chicago, USA</p>
                <a href="">More information...</a>
            </li>
            <li>
                <h2 class="meeting_name">2019 ASCO Annual Meeting</h2>
                <p class="meeting_date">Fri May 31 09:00 - Tue June 4 18:00</p>
                <p class="meeting_addr">Chicago, USA</p>
                <a href="">More information...</a>
            </li>
            <li>
                <h2 class="meeting_name">2019 ASCO Annual Meeting</h2>
                <p class="meeting_date">Fri May 31 09:00 - Tue June 4 18:00</p>
                <p class="meeting_addr">Chicago, USA</p>
                <a href="">More information...</a>
            </li>
            <li>
                <h2 class="meeting_name">2019 ASCO Annual Meeting</h2>
                <p class="meeting_date">Fri May 31 09:00 - Tue June 4 18:00</p>
                <p class="meeting_addr">Chicago, USA</p>
                <a href="">More information...</a>
            </li>
            <li>
                <h2 class="meeting_name">2019 ASCO Annual Meeting</h2>
                <p class="meeting_date">Fri May 31 09:00 - Tue June 4 18:00</p>
                <p class="meeting_addr">Chicago, USA</p>
                <a href="">More information...</a>
            </li>
            <li>
                <h2 class="meeting_name">2019 ASCO Annual Meeting</h2>
                <p class="meeting_date">Fri May 31 09:00 - Tue June 4 18:00</p>
                <p class="meeting_addr">Chicago, USA</p>
                <a href="">More information...</a>
            </li>
        </ul>
    </div>

    <div class="common_item">
        <h3>Latest Tweets</h3>
        <div class="litte_dividing_line"></div>
        <a href="" class="detail_wrap">
            <div class="text_wrap">
                <p>
                    An experienced senior team of specialists in life science communications,
                    with expertise gained in-house
                    and agency side, offering the flexibility to support both early-stage
                    companies and large
                    multinationals.
                </p>
                <p class="arrow"></p>
            </div>
            <div class="litte_dividing_line"></div>
            <div class="text_wrap">
                <p>
                    An experienced senior team of specialists in life science communications,
                    with expertise gained in-house
                    and agency side, offering the flexibility to support both early-stage
                    companies and large
                    multinationals.
                </p>
                <p class="arrow"></p>
            </div>
            <div class="litte_dividing_line"></div>
            <div class="text_wrap">
                <p>
                    An experienced senior team of specialists in life science communications,
                    with expertise gained in-house
                    and agency side, offering the flexibility to support both early-stage
                    companies and large
                    multinationals.
                </p>
                <p class="arrow"></p>
            </div>
            <div class="litte_dividing_line"></div>
            <div class="text_wrap">
                <p>
                    An experienced senior team of specialists in life science communications,
                    with expertise gained in-house
                    and agency side, offering the flexibility to support both early-stage
                    companies and large
                    multinationals.
                </p>
                <p class="arrow"></p>
            </div>
        </a>
        <div class="litte_dividing_line"></div>
        <h3>Upcoming Events</h3>
        <div class="litte_dividing_line"></div>
        <a href="" class="detail_wrap">

            <div class="text_wrap">
                <p>
                    An experienced senior team of specialists in life science communications, with expertise
                    gained in-house
                    and agency side, offering the flexibility to support both early-stage companies and large
                    multinationals.
                </p>
                <p class="arrow"></p>
            </div>
        </a>
        <div class="litte_dividing_line"></div>
    </div>
</div>